body{
    text-align: center;
    font-family:Arial;
}

.link-01{
    background-color: aquamarine;
}
.link-02{
    background-color: darkgrey;
}
.link-03{
    background-color: red;
}
.link-04{
    background-color: yellowgreen;
}
.link-05{
    background-color: cadetblue;
}
.link-06{
    background-color: mediumvioletred;
}

.link-1{
    background-color: lightgrey;
}
.link-2{
    background-color: lightgrey;
}
.link-3{
    background-color: lightgrey;
}
.link-4{
    background-color: lightgrey;
}
.link-5{
    background-color: lightgrey;
}
.link-6{
    background-color: lightgrey;
}