body{
    text-align: center;
    font-family:Arial;
}

.link-1 {
    background-color: lightgrey;
}

#content:hover{
    font-size: 20px;
    transition: font-size 1s;
}
#content{
    font-size: 12px;
    transition: font-size 1s;
}

h1:hover{
    background-color: rebeccapurple;
    transition: background-color 1s;
}

h1{
    transition: background-color 1s;
}

#tekstas{
    width: 400px;
    margin: auto;
    border-style: dashed;
    padding:10px;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.7s;
}

#tekstas.open{
    max-height: 1000px;
    transition: max-height 0.7s;
}

#button{
    background-color: rebeccapurple;
    color: floralwhite;
    font-size: 20px;
    display: block;
    width: 140px;
    padding: 10px;
    margin: 20px auto;
    text-transform: uppercase;
    cursor: pointer;
}